@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --accent: #0ea5e9;
  --accent-foreground: #ffffff;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f3f4f6;
    --primary: #3b82f6;
    --primary-foreground: #ffffff;
    --secondary: #1e293b;
    --secondary-foreground: #f3f4f6;
    --accent: #0ea5e9;
    --accent-foreground: #ffffff;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --card: #1e293b;
    --card-foreground: #f3f4f6;
    --border: #334155;
    --input: #334155;
    --ring: #3b82f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add a smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Add a hero section padding to account for the fixed header */
.hero-section {
  padding-top: 5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
